@import "tailwindcss";

@font-face {
    font-family: Spotify;
    src: url("./fonts/GothamLight.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: Spotify;
    src: url("./fonts/GothamBook.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Spotify;
    src: url("./fonts/GothamMedium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Spotify;
    src: url("./fonts/GothamBold.ttf") format("truetype");
    font-weight: 700;
}

@layer utilities {
    .btn-font {
     font-family: Spotify;
     font-weight: 900;
     letter-spacing: 0.1px;
     font-size: 13px;
    }
}

@layer utilities{
    .btn-spacing {
        word-spacing: -2px;
    }
}


:root{
    --primaryColor : #1f1f1f
}

body{
    background-color: black;
}